{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"@api/(.*)$",
		"@assets/(.*)$",
		"@common/(.*)$",
		"@components/(.*)$",
		"@config/(.*)$",
		"@helpers/(.*)$",
		"@hooks/(.*)$",
		"@store/(.*)$",
		"types/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(module.css)$",
		"(.css)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
